.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 170px 0px 170px;
    color: white;
    margin-bottom: 145px;
}
.titleContainer {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.purple {
    color: #C778DD;
}
.titleName {
    letter-spacing: 3%;
}
.purpleLine {
    width: 20%;
    height: 2px;
    background-color: #C778DD;
    margin-left: 16px;
}
.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
    color: #ABB2BF;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}
.left {
    width: 50%;
    position: relative;
}
.leftImg {
    position: absolute;
    top: 0px;
    left: -200px;
}
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linksContainer {
    border: 1px solid #ABB2BF;
    padding: 16px;
    width: fit-content;
}
.linksTitle {
    color: white;
    font-weight: 600;
}
.elem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}
.logo {
    width: 32px;
    height: 32px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.text a {
    text-decoration: none;
    color: #ABB2BF;
}
@media only screen and (max-width: 1024px) {
    .main {
        padding: 64px;
    }
    .right {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 32px;
    }
    .left {
        display: flex;
        flex-wrap: wrap;
    }
    .right {
        display: flex;
        flex-wrap: wrap;
    }
    .linksContainer {
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        padding: 16px;
        /* padding-top: 170px; */
        /* margin-top: 112px; */
    }
    .contentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        margin-top: 32px;
    }
}
