<div class="main">
    <div class="titleContainer">
        <span class="purple">#</span>
        <span class="title">contacts</span>
        <div class="purpleLine"></div>
    </div>
    <div class="contentContainer">
        <div class="left">
            I'm actively looking for a job in the development field, front-end, back-end, full-stack, you name it. <br>
            However, I am also open to freelance opportunities. <br> <br>
            If you are interested in working with me, please feel free to reach out.
        </div>
        <div class="right">
            <div class="linksContainer">
                <div class="linksTitle">Message me here</div>
                <div class="content">
                    <div class="elem">
                        <span class="logo">
                            <img src="/img/email.svg" alt="email logo">
                        </span>
                        <span class="text">
                            dylan.jonckheere.pro&#64;gmail.com
                        </span>
                    </div>
                    <div class="elem">
                        <span class="logo">
                            <img src="/img/linkedin.svg" alt="linkedin logo">
                        </span>
                        <span class="text">
                            <a href="https://www.linkedin.com/in/dylan-jonckheere/" target="_blank">dylan jonckheere</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>