<div class="main" id="about">
    <div class="topContainer">
        <span class="purple">#</span>
        <span class="titleName">{{ 'ABOUT.TITLE' | translate }}</span>
        <div class="purpleLine"></div>
    </div>
    <div class="contentContainer">
        <div class="left">
            <div class="leftImg" data-aos="zoom-in" data-aos-duration="2000">
                <img src="/img/rectangle.png" alt="rectangle image">
            </div>
            <div class="text" 
                data-aos="flip-left" 
                data-aos-duration="2000"
                [innerHTML]="'ABOUT.DESCRIPTION' | translate | nl2br"
                >
            </div>
            <div class="buttonContainer" data-aos="fade-up" data-aos-duration="2000">
                <a href="" class="readMoreButton">{{ 'ABOUT.BUTTON' | translate }}</a>
            </div>
        </div>
        <div class="right">
            <div class="img1"><img src="/img/dots.png" alt="dots image"></div>
            <div class="img2"><img src="/img/dots.png" alt="dots image"></div>
            <div class="img3">
                <img src="/img/emoPose.png" alt="dots image">
                <div class="anoterLine"></div>
            </div>
            <div class="img4"><img src="/img/dots.png" alt="dots image"></div>
        </div>
    </div>
</div>