.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 170px 0px 170px;
    margin-bottom: 266px;
}
.topContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.purple {
    color: #C778DD;
}
.titleName {
    letter-spacing: 3%;
}
.purpleLine {
    width: 30%;
    height: 2px;
    background-color: #C778DD;
    margin-left: 16px;
}
.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin should be 48px but doesnt render right that way */
    margin-top: 24px; 
}
.left {
    width: 50%;
    position: relative;
}
.leftImg {
    position: absolute;
    left: -170px;
    top: 30px;
}
.right {
    width: 50%;
    position: relative;
}
.text {
    margin: 23px 0 27px 0;
    font-size: 16px;
    color: #ABB2BF;
    line-height: 26px;
    max-width: 515px;
}
.readMoreButton {
    color: white;
    padding: 8px 16px;
    border: 1px solid #C778DD;
    background-color: transparent;
    text-decoration: none;
}
.readMoreButton:hover {
    background-color: rgba(199, 120, 221, 0.2);
}
.img1, .img2, .img4 {
    position: absolute;
    z-index: 2;
}
.img3 {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-bottom: 112px;
}
.img3 img {
    margin-bottom: 0;
    display: block;
}
.img1 {
    top: 59px;
}
.img2 {
    top: 279px;
    left: 219px;
}
.img4 {
    top: 320px;
    left: 450px;
}
.anoterLine {
    width: 100%;
    height: 1px;
    background-color: #C778DD;
}
@media only screen and (max-width: 1024px) {
    .main {
        padding: 64px;
        margin-bottom: unset;
    }
    .img4 {
        display: none;
    }
    .leftImg {
        left: -80px;
        top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 32px;
        margin-bottom: unset;
    }
    .img4 {
        display: none;
    }
    .leftImg {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        padding: 16px;
        margin-bottom: unset;
    }
    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .img3 {
        position: relative;
        margin: 0;
    }
    .img4 {
        display: none;
    }
    .leftImg {
        display: none;
    }
}
