<div class="main" id="about">
    <div class="topContainer">
        <span class="purple">#</span>
        <span class="titleName">about-me</span>
        <div class="purpleLine"></div>
    </div>
    <div class="contentContainer">
        <div class="left">
            <div class="leftImg" data-aos="zoom-in" data-aos-duration="2000">
                <img src="/img/rectangle.png" alt="rectangle image">
            </div>
            <div class="text" data-aos="flip-left" data-aos-duration="2000">
                Hello, I'm Dylan! <br> <br>
                I'm a self-taught front-end developer based in Bruxelles, Belgium. 
                I can develop responsive websites from scratch and raise them into modern, user-friendly web experiences. <br> <br>
                Transforming ideas and designs into websites has been my passion for over a year now and I want to share it with the world.
                I have been helping various clients establish their online presence and I am always looking for new challenges. <br>
                I am always eager to learn new technologies and improve my skills. <br>
            </div>
            <div class="buttonContainer" data-aos="fade-up" data-aos-duration="2000">
                <a href="" class="readMoreButton">Read more</a>
            </div>
        </div>
        <div class="right">
            <div class="img1"><img src="/img/dots.png" alt="dots image"></div>
            <div class="img2"><img src="/img/dots.png" alt="dots image"></div>
            <div class="img3">
                <img src="/img/emoPose.png" alt="dots image">
                <div class="anoterLine"></div>
            </div>
            <div class="img4"><img src="/img/dots.png" alt="dots image"></div>
        </div>
    </div>
</div>