<div class="line"></div>
<div class="main">
    <div class="contentContainer">
        <div class="left">
            <div class="firstLine">
                <div class="logoContainer">
                    <span class="logo">
                        <img src="/img/logo.svg" alt="logo image">
                    </span>
                    <span class="name">Dylan</span>
                </div>
                <span class="nameAddress">dylan.jonckheere.pro&#64;gmail.com</span>
            </div>
            <div class="secondLine">
                {{ 'FOOTER.DESCRIPTION' | translate }}
            </div>
        </div>
        <div class="right">
            <div class="title">Media</div>
            <div class="mediaLinks">
                <a href="https://github.com/Dyluan" target="_blank"><img src="/img/github.svg" alt="github logo"></a>
                <a href="https://www.linkedin.com/in/dylan-jonckheere/" target="_blank"><img src="/img/linkedin.svg" alt="linkedin logo"></a>
                <a href="https://lichess.org/@/SREVNE" target="_blank"><img src="/img/chesslogo.svg" alt="lichess logo"></a>
            </div>
        </div>
    </div>
    <div class="copyrightContainer">
        ©2025 dilyP. All rights reserved.
    </div>
</div>