<div class="main">
    <div class="left">
        <div class="logo">
            <img src="/img/logo.svg" alt="logo">
        </div>
        <div class="name">Dylan</div>
    </div>
    <div class="right">
        <div class="rightElem"><div class="hashtag">#</div>home</div>
        <div class="rightElem"><div class="hashtag">#</div>works</div>
        <div class="rightElem"><div class="hashtag">#</div>about-me</div>
        <div class="rightElem"><div class="hashtag">#</div>contact</div>
    </div>
</div>