.main {
    border: 1px solid #ABB2BF;
    width: 178px;
    color: white;
    font-weight: 600;
}
.title {
    border-bottom: 1px solid #ABB2BF;
    padding: 8px;
}
.description {
    padding: 8px;
    color: #ABB2BF;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}
