<div class="main">
    <div class="container">
        <div class="left">
            <div class="title">
                Dylan is a <span class="purple">front-end developer</span>
            </div>
            <div class="subTitle">
                He crafts responsive websites and web applications where technology meets creativity
            </div>
            <div class="buttonContainer">
                <button class="contactButton">Contact me!!</button>
            </div>
        </div>
        <div class="right">
            <div class="image1"></div>
            <div class="imageCentrale">
                <img src="/img/mainPose.png" alt="image principale">
            </div>
            <div class="image2"></div>
        </div>
    </div>
    <div class="quoteContainer">
        <div class="quoteLogo"></div>
        <div class="quote">With great power comes great electricity bills</div>
        <div class="quoteLogo"></div>
        <div class="quoteAuthor">
            - Dr. Who
        </div>
    </div>
</div>