.main {
    padding: 160px 170px 90px 170px;
    background-color: #282C33;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left {
    width: 50%;
    padding-top: 64px;
}
.right {
    width: 50%;
    position: relative;

    height: 386px;
}
.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}
.purple {
    color: #C778DD;
}
.subTitle {
    font-size: 16px;
    line-height: 25px;
    color: #ABB2BF;
    margin-bottom: 24px;
}
.contactButton {
    border-color: #C778DD;
    background-color: transparent;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}
.contactButton:hover {
    background-color: rgba(199, 120, 221, 0.2);
}
.image1 {
    width: 155px;
    height: 155px;
    position: absolute;
    z-index: 1;
}
.image2 {
    position: absolute;
    z-index: 3;
    top: 246px;
    left: 357px;
}
.image1 img {
    width: 100%;
    height: 100%;
}
.imageCentrale {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin-bottom: 112px; */
}
.cube {
    width: 16px;
    height: 16px;
    background-color: #C778DD;
}
.workText {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ABB2BF;
    gap: 8px;
    padding: 8px;
}
.quoteContainer {
    margin-top: 148px;
    font-size: 24px;
    color: white;

    position: relative;
}
.quote, .quoteAuthor {
    border: 1px solid #ABB2BF;
    padding: 32px;
}
.quoteLogo {
    position: absolute;
}
.quoteLogo.top {
    left: 11px;
    top: -11px;
}
.quoteLogo.bottom {
    right: 11px;
    bottom: 80px;
}
.quoteAuthorContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.quoteAuthor {
    font-size: 32px;
    border-top: none;
}