<div class="main" id="home">
    <div class="container">
        <div class="left">
            <div class="title" data-aos="fade-up" data-aos-duration="1000">
                <!-- Dylan is a <span class="purple" id="animated-text"></span> -->
                {{ 'HOME.TITLE' | translate }} <span class="purple" id="animated-text"></span>
            </div>
            <div class="subTitle" data-aos="fade-right" data-aos-duration="1000">
                <!-- He crafts responsive websites and web applications where technology meets creativity -->
                {{ 'HOME.SUBTITLE' | translate }}
            </div>
            <div class="buttonContainer" data-aos="fade-down" data-aos-duration="1000">
                <button class="contactButton">{{'HOME.CONTACT' | translate }}</button>
            </div>
        </div>
        <div class="right">
            <div class="image1" data-aos="fade-down" data-aos-duration="1000">
                <img src="/img/outline.svg" alt="outline image">
            </div>
            <div class="imageCentrale" data-aos="fade-right" data-aos-duration="1000">
                <!-- <img src="/img/mainPose.png" alt="main image"> -->
                <img src="/img/pp-no-bg.png" alt="main image">
                <div class="currentWork">
                    <span class="workText">
                        <div class="cube"></div> 
                        {{ 'HOME.CURRENT_WORK' | translate }}<b>{{ 'HOME.CURRENT_SITUATION' | translate }}</b>
                    </span>
                </div>
            </div>
            <div class="image2" data-aos="fade-left" data-aos-duration="1000">
                <img src="/img/dots.png" alt="dots image">
            </div>
        </div>
    </div>

    <div class="quoteContainer" data-aos="fade-up" data-aos-duration="1000">
        <div class="quoteLogo top">
            <img src="/img/quoteLogo.png" alt="quote Logo">
        </div>
        <div class="quote">{{ 'HOME.QUOTE' | translate }}</div>
        <div class="quoteLogo bottom">
            <img src="/img/quoteLogo.png" alt="quote Logo">
        </div>
        <div class="quoteAuthorContainer">
            <div class="quoteAuthor">
                - Dr. Who
            </div>
        </div>
    </div>
</div>