.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 170px 0px 170px;
    color: white;
    margin-bottom: 106px;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.title {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.titleName {
    letter-spacing: 3%;
}
.purple {
    color: #C778DD;
}
.purpleLine {
    width: 90%;
    height: 2px;
    background-color: #C778DD;
    /* margin: 0 210px 0 16px; */

    max-width: 589px;
    min-width: 30vw;
    margin-left: 16px;
}
.browse {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    margin-top: 48px;
}
.leftImg {
    position: absolute;
    left: -170px;
    top: 0px;
}
.rightImg {
    position: absolute;
    right: -170px;
    top: 200px;
}
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .main {
        padding: 64px;
        margin-bottom: unset;
    }
    .rightImg {
        right: -64px;
        top: 200px;
    }
    .leftImg {
        left: -64px;
        top: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 32px;
    }
    .rightImg {
        right: -32px;
        top: 480px;
    }
    .leftImg {
        display: none;
    }
    .purpleLine {
        width: 45vw;
        margin: 0 0 0 16px;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        padding: 16px;
    }
    .purpleLine {
        width: 20vw;
        max-width: 30vw;
        margin: 0;
        margin-left: 16px;
        min-width: unset;
    }
    .leftImg, .rightImg {
        display: none;
    }
}
