<div class="main" id="projects">
    <div class="titleContainer">
        <div class="title">
            <span class="purple">#</span>
            <span class="titleName">projects</span>
        </div>
        <div class="purpleLine"></div>
        <div class="browse">View all =></div>
    </div>
    <div class="contentContainer">
        <div class="leftImg" data-aos="zoom-in" data-aos-duration="1000">
            <img src="/img/dots.png" alt="dots image">
        </div>
        <div class="projects">
            <app-project-card 
            [titleInput]="project1.title"
            [descriptionInput]="project1.description" 
            [imgSrcInput]="project1.imgSrc" 
            [technologiesInput]="project1.technologies" 
            [urlInput]="project1.url" 
            />
            <app-project-card 
            [titleInput]="project2.title"
            [descriptionInput]="project2.description" 
            [imgSrcInput]="project2.imgSrc" 
            [technologiesInput]="project2.technologies" 
            [urlInput]="project2.url" 
            />
            <app-project-card 
            [titleInput]="project3.title"
            [descriptionInput]="project3.description" 
            [imgSrcInput]="project3.imgSrc" 
            [technologiesInput]="project3.technologies" 
            [urlInput]="project3.url" 
            />
        </div>
        <div class="rightImg" data-aos="zoom-in" data-aos-duration="1000">
            <img src="/img/rectangle2.png" alt="rectangle image">
        </div>
    </div>
</div>