<div class="main">
    <div class="titleContainer">
        <span class="purple">#</span>
        <span class="title">my-fun-facts</span>
        <span class="purpleLine"></span>
    </div>
    <div class="contentContainer">
        <div class="left">
            <div class="elem" data-aos="fade-up" data-aos-duration="1000">I like bouldering</div>
            <div class="elem" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">I never decline a game of chess</div>
            <div class="elem" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">I love french fries</div>
            <div class="elem" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">I ride my bike everyday</div>
            <div class="elem" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">I am a nature lover</div>
            <div class="elem" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">I find working out boring but I do it anyway</div>
            <div class="elem" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">I used to hate JS</div>
            <div class="elem" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">But now I like it!</div>
        </div>
        <div class="right">
            <div class="img1"><img src="/img/dots.png" alt="dots image"></div>
            <div class="img2"><img src="/img/outline.svg" alt="outline image"></div>
            <div class="img3"><img src="/img/dots.png" alt="dots image"></div>
        </div>
    </div>
</div>