<div class="main">
  <div class="topContainer">
    <span class="purple">#</span>
    <span class="titleName">{{ 'GOALS.TITLE' | translate }}</span>
    <div class="purpleLine"></div>
  </div>
  <div class="mainContainer">
    <div class="left">
      <div class="icons">
        <img src="/img/drag.svg" alt="drag">
      </div>
      <div #canvasContainer class="canvas-container" data-aos="fade-left"></div>
    </div>
    <div class="right" data-aos="fade-down">
      {{ 'GOALS.DESCRIPTION1' | translate }}
      <br /> <br />
      {{ 'GOALS.DESCRIPTION2' | translate }}
    </div>
  </div>
</div>