.main {
    width: 331px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ABB2BF;
    color: #ABB2BF;
    font-size: 16px;
}
.imgContainer {
    width: 100%;
    /* height: 100%; */
    height: 201px;
    border-bottom: 1px solid #ABB2BF;
}
.imgContainer img {
    width: 100%;
    height: 100%;
}
.technologiesContainer {
    width: 100%;
    padding: 8px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #ABB2BF;
}
.projectTitle {
    font-size: 24px;
    color: white;
    font-weight: 800;
    padding: 16px;
}
.projectDescription {
    padding: 0px 16px 16px 16px;
}
.urlContainer {
    padding-left: 16px;
    padding-top: 16px;
    margin-bottom: 32px;
}
.url {
    padding: 8px 16px;
    border: 1px solid #C778DD;
    text-decoration: none;
    color: white;
}
.url:hover {
    background-color: rgba(199, 120, 221, 0.2);
}
.urlCached {
    padding: 8px 16px;
    border: 1px solid #ABB2BF;
    text-decoration: none;
    color: #ABB2BF;
}
.urlCached:hover {
    background-color: rgba(171, 178, 191, 0.2);
}